@font-face {
    font-family: 'ET Book';
    src: url('et-book-roman-line-figures.eot');
    src: url('et-book-roman-line-figures.eot?#iefix') format('embedded-opentype'),
         url('et-book-roman-line-figures.woff') format('woff'),
         url('et-book-roman-line-figures.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ET Book';
    src: url('et-book-display-italic-old-style-figures.eot');
    src: url('et-book-display-italic-old-style-figures.eot?#iefix') format('embedded-opentype'),
         url('et-book-display-italic-old-style-figures.woff') format('woff'),
         url('et-book-display-italic-old-style-figures.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ET Book';
    src: url('et-book-semi-bold-old-style-figures.eot');
    src: url('et-book-semi-bold-old-style-figures.eot?#iefix') format('embedded-opentype'),
         url('et-book-semi-bold-old-style-figures.woff') format('woff'),
         url('et-book-semi-bold-old-style-figures.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'ET Book';
    src: url('et-book-bold-line-figures.eot');
    src: url('et-book-bold-line-figures.eot?#iefix') format('embedded-opentype'),
         url('et-book-bold-line-figures.woff') format('woff'),
         url('et-book-bold-line-figures.ttf') format('truetype');
    font-weight: 600;
    font-style: bold;
}
